<%- include("./partials/header") %>
    <div class="mainContent">
        <div class="container">
            <h1>UPCOMING RACES</h1>
            <h2 id="currentSeason">SEASON 4</h2>
            <div class="row indexPageTopThree"> 
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][7]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title">#8 <%= raceCalendar["SEASON4"][7]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][7]["Date"] %></h4>
                        <h5><%= raceCalendar["SEASON4"][7]["Time"] %></h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][8]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title">#9 <%= raceCalendar["SEASON4"][8]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][8]["Date"] %></h4>
                        <h5><%= raceCalendar["SEASON4"][8]["Time"] %></h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][9]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title">#10 <%= raceCalendar["SEASON4"][9]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][9]["Date"] %></h4>
                        <h5><%= raceCalendar["SEASON4"][9]["Time"] %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="driversList" class="driversChamp">
            <h1>Season 4 Driver Standings</h1>
            <table class="driverChampTable">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>DRIVER</th>
                        <th>CAR</th>
                        <th class="points">PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <% driverProfile.map((driver, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= driver.driver %></td>
                            <td><%= driver.team %></td>
                            <td class="points"><%= driver.points %></td>
                        </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>
    </div>    
    <%- include("./partials/footer") %>

   
