<%- include("./partials/header") %>
    <div class="mainContent">
        <div class="container">
            <h1>UPCOMING RACES</h1>
            <h3>NEW SEASON: SEASON 4</h3>
            <div class="row indexPageTopThree"> 
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][0]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title"><%= raceCalendar["SEASON4"][0]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][0]["Date"] %></h6>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][1]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title"><%= raceCalendar["SEASON4"][1]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][1]["Date"] %></h6>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src=<%= raceCalendar["SEASON4"][2]["Image"]%> class="card-img-top" alt="...">
                        <div class="card-body">
                        <h2 class="card-title"><%= raceCalendar["SEASON4"][2]["Grand Prix"] %></h5>
                        <h4><%= raceCalendar["SEASON4"][2]["Date"] %></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="driversList" class="driversChamp">
            <h1>2020 Driver Standings</h1>
            <table class="driverChampTable">
                <thead>
                    <tr>
                        <th>POS</th>
                        <th>DRIVER</th>
                        <th>CAR</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <% driverLeaderBoard.map((driver, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= driver.driver %></td>
                            <td><%= driver.team %></td>
                            <td><%= driver.points %></td>
                        </tr>
                    <% }) %>
                </tbody>
                
            </table>
        </div>
    </div>    
    <%- include("./partials/footer") %>

   
