<%- include("./partials/header") %>
<div class="teamList">
    <div class="container">
        <h1 id="teamChamph1">CONSTRUCTOR CHAMPIONSHIP WINNERS</h1>
        <% teamChamps.map((team) => { %>
            <div class="card team-card border-light mb-3" style="width: 300px;">
                <div class="card-header <%=team["class"]%>"><%=team["name"]%> <img style="height: 50px;" src="teams/<%=team["image"]%>" alt=""></div>
                <div class="card-body text-dark">                    
                    <h4 class="card-title"><%=team["drivers"][0]%><span><%=team["teamPoints"]%></span></h4>
                    <h4 class="card-title"><%=team["drivers"][1]%></h4>
                    <h4 class="card-title, card-team-season">SEASON <%=team["season"]%></h4>
                </div>
            </div>
    <% }) %>
    </div>
    <div class="container">
        <h1>CONSTRUCTOR STANDINGS</h1>
        <h3>SEASON <%=currentSeason%></h3>
        <% constructor.map((team, index) => { %>
                <div class="card team-card border-light mb-3" style="width: 300px;">
                    <div class="card-header <%=team["class"]%>"><%=index+1%> <%=team["name"]%> <img style="height: 50px;" src="teams/<%=team["image"]%>" alt=""></div>
                    <div class="card-body text-dark">
                        <h4 class="card-title"><%=team["drivers"][0]%><span><%=team["teamPoints"]%></span></h4>
                        <h4 class="card-title"><%=team["drivers"][1]%></h4>
                    </div>
                </div>
        <% }) %>        
    </div>   
</div>
<%- include("./partials/footer") %>