<%- include("./partials/header") %>
<div class="teamList">
    <div class="container">
        <h1>TEAMS</h1>
        <% constructor.map(team => { %>
            <%if(team["drivers"].length > 0) {%>
                <div class="card team-card border-light mb-3" style="width: 300px;">
                    <div class="card-header <%=team["class"]%>"><%=team["name"]%> <img style="height: 50px;" src="teams/<%=team["image"]%>" alt=""></div>
                    <div class="card-body text-dark">
                        <%team["drivers"].map(driver => { %>
                            <%if(driver == "No Driver"){%>
                                <h4 class="card-title"><%=driver%><span>0</span></h4>
                            <% } else { %>
                                <%driverProfile.map(foundDriver => {%>
                                    <%if(foundDriver["driver"] == driver) {%>
                                        <h4 class="card-title"><%=driver%><span><%=foundDriver["points"]%></span></h4>
                                <% } %>
                                <% }) %>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        <% }) %>
        
    </div>
</div>
<%- include("./partials/footer") %>